.list {
  margin: 10px;
  border-radius: 15px;
  background-color: #101010;
  padding: 20px;
}

.ins {
  padding-top: 50px;
}

.maps {
  text-align: center;
}

.tomap {
  align-items: center;
  width: 150px;
  height: 40px;
  border-radius: 8px;
  font-family: Turret Road;
}

li {
  margin: 4px;
  padding: 1px;
}
